/*************************************************
*    	   Website Mobile App - BY-Do   	 *
*		Box of Chocolates		 *
*************************************************/

/****************************************
*  	  GENERAL STYLING	   	*
****************************************/
*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
    margin: 3%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

th {
text-align: left;
padding-right: 33%;
}

table#tbl-list {
width: 100%;
}

ul.navbar {
    list-style: none;
}


/****************************************
*	     NAVBAR STYLING		*
****************************************/
nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav#main-navbar ul {
    display: inline;
	text-decoration: none;
}

nav#main-navbar ul li {
    display: inline;
}

#navbar {
    padding:0;
}

#title {
    margin-left: 37.4%;
    margin-right: 30%;
    padding: 10px 0px;
}

#nav-list {
    padding: 1.6% 3.5%;  
    border-style: solid;
    border-color: #1b5da5;
    border-width: 1px;
    background-color: #1b5da5;
    -webkit-box-shadow: inset -10px 10px 20px -6px rgba(0,0,0,0.77); -moz-box-shadow: inset -10px 10px 20px -6px rgba(0,0,0,0.77); box-shadow: inset -10px 10px 20px -6px rgba(0,0,0,0.77);
}


#nav-week {
padding: 1.7% 3.7%;
background-color: #1b5da5;
margin-left: -4px;
}

#dropdown-nav {
    padding:10;
    margin: -2px 0px;
    position: fixed;
    background-color: rgb(217,217,217);
}

ul#navbar {
    background-color: black;
    color: white;
    padding: 20px 0px 20px 0px;
}

/* When Menu Icon IS Selected *//*

li.main-dropdown {
    padding: 20px 3.5%;
    margin: 0px;
    background-color: rgb(217,217,217);
    border-style: solid;  border-color: rgb(180,180,180);  border-width: 1px;  
    border-bottom-color: rgb(217,217,217);
}

ul#navbar a.dropdown-toggle {
    color: black;
    font-weight: bold;
}

nav#dropdown-nav {
	display: initial;
}
*//* --------------------------- */
/* When Menu Icon is NOT Selected */
li.main-dropdown {
	padding: 20px 3.5%;
	background-color: black;
	border-style: none;
	border-color: black;
	border-width: 0px;
	border-bottom-color: black;
}

ul#navbar a.dropdown-toggle {
	color: white;
}

nav#dropdown-nav {
	display: none;
}
/* --------------------------- */
#dropdown-nav ul.dropdown-menu {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 2em;
	-webkit-margin-end: 2em;
	-webkit-padding-start: 0px;
	
}

nav#main-navbar {
    margin-bottom: 2px;

}

nav#main-navbar a {
color: white;
}

nav#dropdown-nav ul li {
    padding: 10px 0px;
    margin: 0px;
}

.lists-menu {
    border-bottom-style: solid;
    border-bottom-color: rgb(180,180,180);
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-right: -30px;
    margin-left: -30px;
}

nav#dropdown-nav ul li {
    padding: 10px;
    margin: 0;
}

.lists-menu {
    border-bottom-style: solid;  
    padding-bottom: 10px;
}

nav#dropdown-nav {
    border-style: solid;      
    border-color: rgb(180,180,180);      
    border-width: 1px;
    border-top-color: rgb(217,217,217);
}

ul#task-lists {
    margin-left: -30px;
}

/****************************************
*     	     TABLE STYLING		*
****************************************/
#tbl-list > thead > tr > th,
#tbl-list > thead > tr > td,
#tbl-list > tbody > tr > th,
#tbl-list > tbody > tr > td {
padding: 10px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #dddddd;
}

#tbl-list > tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}

table#tbl-list tbody {
background-color: rgb(225,225,225);
}

table#tbl-list {
background-color: rgb(200,200,200);
}

/****************************************
*	SEARCH/ADD BUTTON STYLING       *
****************************************/
.search-task {
    width: 101%;
    margin: 0px 0px;
}

.search-add {
    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: #1b5da5;
}

input.search-add-bar {
    width: 88.8%;
    padding: 10px 0px;
}

button.btn.important-button {
    padding: 10px 0px;
    width: 10%;
    position: relative;
    left: -5px;
    background-color: #FFC000;
    border-color: black;
    border-width: 2px;
}
