/*************************************************
*    	   Website Mobile App - BY-Do   	 *
*		Box of Chocolates		 *
*************************************************/
/****************************************
*  	  GENERAL STYLING	   				*
****************************************/
input.search-add-bar {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

th {
text-align: left;
}

ul.navbar {
	list-style: none;
}

/****************************************
*       ADD TASK MENU STYLING           *
****************************************/
#descriptionLabel {
    display: block;
}
.textInput {
    display: block;
    width: 400px;
}
.fields {
    padding:0; border:0; margin-top:25px;
}
.labels {
    margin-top: 10px;
}
#nameInput {
    margin-left: 10px;
}
.rows {
    margin-top: 30px;
}
#descriptionInput {
    margin-top: 4px;
    height: 80px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    resize: none;
}
#dueRecurringTable {
    margin-top: 15px;
}
#dueInput {
    margin-left: 0px;
    width: 82px;
    padding: 0px 5px;
}
#categoryRow {
    margin-top: 15px;
}
#categoryInput {
    margin-left: 5px;
}
/****************************************
*	     NAVBAR STYLING					*
****************************************/
nav a {
	text-decoration: none;
	margin: -20px -46px;
	padding: 20px 46px;
}

nav#main-navbar ul {
	display: inline;
	text-decoration: none;
}

nav#main-navbar ul li {
	display: inline;
}

#navbar {
	padding:0;
}

#title {
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px 0px;
	display: initial;
}

.selected-tab {  
	border-style: solid;
	border-color: #1b5da5;
	border-width: 1px;
	background-color: #1b5da5;
}


.not-selected-tab {
background-color: #1b5da5;
-webkit-box-shadow: inset 1px 6px 17px 4px rgba(0,0,0,0.75);
-moz-box-shadow: inset 1px 6px 17px 4px rgba(0,0,0,0.75);
box-shadow: inset 1px 6px 17px 4px rgba(0,0,0,0.75);
}

#dropdown-nav {
	position: absolute;
	background-color: rgb(217,217,217);
}

ul#navbar {
	background-color: black;
	color: white;
	padding: 20px 0px 20px 0px;
}

/* When Menu Icon IS Selected */
/*
li.main-dropdown {
	margin: 0px;
	background-color: rgb(217,217,217);
	border-style: solid;  border-color: rgb(180,180,180);  border-width: 1px;  
	border-bottom-color: rgb(217,217,217);
}

ul#navbar a.dropdown-toggle {
	color: black;
	font-weight: bold;
}

nav#dropdown-nav {
	display: initial;
}

#dropdown-nav ul.dropdown-menu {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 2em;
	-webkit-margin-end: 2em;
	-webkit-padding-start: 0px;
}*/
/* --------------------------- */
/* When Menu Icon is NOT Selected */
ul#navbar a.dropdown-toggle {
	color: white;
}

nav#dropdown-nav {
	display: none;
}
/* --------------------------- */

nav#main-navbar {
	margin-bottom: 2px;

}

nav#main-navbar a {
color: white;
}

nav#dropdown-nav ul li {
	padding: 10px 0px;
	margin: 0px;
}

.lists-menu {
	border-bottom-style: solid;
	border-bottom-color: rgb(180,180,180);
	border-bottom-width: 1px;
	padding-bottom: 10px;
	margin-right: 10px;
	margin-left: -30px;
}

nav#dropdown-nav ul li {
	padding: 10px;
	margin: 0px 4px;
}

.lists-menu {
	border-bottom-style: solid;  
	padding-bottom: 10px;
}

nav#dropdown-nav {
	border-style: solid;      
	border-color: rgb(180,180,180);      
	border-width: 1px;
	border-top-color: rgb(217,217,217);
	position: absolute;
	top: 56px;
}

ul#task-lists {
	margin-left: -30px;
}

/****************************************
*     	     TABLE STYLING		*
****************************************/
#tbl-list > thead > tr > th,
#tbl-list > thead > tr > td,
#tbl-list > tbody > tr > th,
#tbl-list > tbody > tr > td {
padding: 10px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #dddddd;
}

.td1 {
	width: 55%;
}
.td2 {
	width: 20%;
}
.td3 {
	width: 15%;
}

#tbl-list > tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}

table#tbl-list tbody {
background-color: rgb(225,225,225);
}

table#tbl-list {
background-color: rgb(200,200,200);
}

tbody td#date-row {
    background-color: rgb(204, 229, 255);
    text-align: center;
}

/****************************************
*	SEARCH/ADD BUTTON STYLING       *
****************************************/
.search-task {
	margin: 0px -1px;
}

.search-add {
	border-top-style: solid;
	border-top-width: 30px;
	border-top-color: #1b5da5;
}

input.search-add-bar {
	width: 199px;
	padding: 10px 0px;

	margin: 0px 1px;
}

button.btn.important-button {
	padding: 12px 0px;
	position: relative;
	left: -5px;
	background-color: #FFC000;
	border-color: black;
	border-width: 1px;
}

/****************************************
*         WEEKLY VIEW STYLING           *
****************************************/

#weekly-header-bar {
    
}

#left-arrow-weekly-bar {
    float: left;
}

#right-arrow-weekly-bar {
    float: right;
}

#right-arrow-img, #left-arrow-img {
	max-width: 30px;
	max-height: 30px;
}

#weekly-header-paragraph {
    padding-top: 15px;
    text-align: center;
    margin: 0px;
    background-color: #1b5da5;
    height: 35px;
    color: white;
}

#weekly-header-date {
		display:inline;
}

#imageOverlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#imageOverlay div {
     width:320px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.overlay {
    visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

.overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}


/******************************************************
***********  STYLING BETWEEN 0PX and 499PX  ***********
******************************************************/
@media all and (min-width: 0px) and (max-width:499px) {
	html {
		width: 320px;
		margin: auto;
	}

	body {
		margin: 0px;
		margin-top: 20px;
	}

	table#tbl-list {
		width: 320px;
	}

	#title {
		display: none !important;
	}

	#nav-list {
		padding: 20px 43px;  
	}


	#nav-week {
		padding: 20px 42px;
		margin: 0px -2px;
	}

	#dropdown-nav {
		margin: 14px 0px;
		position: absolute;
	
		z-index: 3;
}

	li.main-dropdown {
		padding: 20px 44px;
	}

	nav#main-navbar a {
		font-size: 12px;
	}

	/****************************************
	*	SEARCH/ADD BUTTON STYLING       *
	****************************************/
	.search-task {
		width: 945px;
	}

	button.btn.important-button {
		padding: 12px 0px;
		width: 121px;
		position: relative;
		left: -5px;
		font-size: 12px;
	}
}


/******************************************************
***********  STYLING BETWEEN 500PX and 749PX  *********
******************************************************/
@media all and (min-width: 500px) and (max-width:749px) {
	html {
		width: 500.5px;
		margin: auto;
	}
	
	body {
		margin: 20px 31.25px;
	}

	th {
	text-align: left;
	padding-right: 312.5px;
	}

	table#tbl-list {
	width: 438px;
	}

	/****************************************
	*	     NAVBAR STYLING		*
	****************************************/
	#title {
		margin-left: 10px;
		margin-right: 27px;
		padding: 10px 0px;
	}

	#nav-list {
		padding: 19px 45px;  
	}

	#nav-week {
		padding: 20px 45px;
		margin-left: 0px;
	}

	#dropdown-nav {		
		margin: 1px 0px;
		position: absolute;
	}

	li.main-dropdown {
		padding: 20px 42px;
	}


	/****************************************
	*	SEARCH/ADD BUTTON STYLING       *
	****************************************/
	.search-task {
		width: 945px;
		margin: 0px -1px;
	}

	input.search-add-bar {
		width: 317px;
		padding: 10px 0px;
	
		margin: 0px 1px;
	}

	button.btn.important-button {
		padding: 11px 0px;
		width: 121px;
		position: relative;
		left: -5px;
	}
}


/******************************************************
***********  STYLING BETWEEN 750PX and 999PX  *********
******************************************************/
@media all and (min-width: 750px) and (max-width:999px) {
	html {
		width: 750.5px;
		margin: auto;
	}
	
	body {
		margin: 20px 31.25px;
	}

	th {
	padding-right: 312.5px;
	}

	table#tbl-list {
	width: 688px;
	}

	/****************************************
	*	     NAVBAR STYLING		*
	****************************************/
	#title {
		margin-left: 153px;
		margin-right: 134px;
	}

	#nav-list {
		padding: 19px 45px;  
	}


	#nav-week {
	padding: 20px 45px;
	margin-left: 0px;
	}

	li.main-dropdown {
		padding: 20px 42px;
	}

	/****************************************
	*	SEARCH/ADD BUTTON STYLING       *
	****************************************/
	.search-task {
		width: 945px;
		margin: 0px -1px;
	}

	input.search-add-bar {
		width: 567px;
		padding: 10px 0px;
		margin: 0px 1px;
	}

	button.btn.important-button {
		padding: 11px 0px;
		width: 121px;
		position: relative;
		left: -5px;
	}
}


/******************************************************
*********  STYLING BETWEEN 1000PX and 1279PX  *********
******************************************************/
@media all and (min-width: 1000px) and (max-width:1279px) {
	html {
		width: 1000.5px;
		margin: auto;
	}

	body {
		margin: 20px 31.25px;
	}

	th {
	text-align: left;
	padding-right: 312.5px;
	}

	table#tbl-list {
	width: 937px;
	}

	/****************************************
	*	     NAVBAR STYLING		*
	****************************************/
	#title {
		margin-left: 300px;
		margin-right: 237px;
		padding: 10px 0px;
	}

	#nav-list {
		padding: 19px 45px;  
	}


	#nav-week {
	padding: 20px 45px;
	margin-left: 0px;
	}

	#dropdown-nav {
		
		margin: 1px 0px;
		position: absolute;
	}
	
	li.main-dropdown {
		padding: 20px 42px;
	}
	
	/****************************************
	*	SEARCH/ADD BUTTON STYLING       *
	****************************************/
	.search-task {
		width: 945px;
		margin: 0px -1px;
	}

	input.search-add-bar {
		width: 817px;
		padding: 10px 0px;
		margin: 0px 1px;
	}

	button.btn.important-button {
		padding: 11px 0px;
		width: 121px;
		position: relative;
		left: -5px;
	}
}



/******************************************************
*************  STYLING GREATER THAN 1280PX	***********
******************************************************/
@media all and (min-width:1280px) {
	html {
		width: 1280px;
		margin:auto;
	}

	body {
		margin: 20px 40px;
	}

	table#tbl-list {
		width: 1200px;
	}


	/****************************************
	*	     NAVBAR STYLING		*
	****************************************/
	#title {
		margin-left: 450px;
		margin-right: 351px;
	}

	#nav-list {
		padding: 20px 45px;
	}


	#nav-week {
	padding: 20px 45px;
	margin-left: -2px;
	}

	li.main-dropdown {
		padding: 20px 42px;
		border-width: 0px;
	}

	/****************************************
	*	SEARCH/ADD BUTTON STYLING       *
	****************************************/
	.search-task {
		width: 1205px;
		margin: 0px 0px;
	}

	input.search-add-bar {
		width: 1079px;
		padding: 10px 9px;
	}

	button.btn.important-button {
		padding: 11px 0px;
		width: 120px;
		position: relative;
		left: -5px;
	
		cursor: pointer;
}
}

.arrow-up {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
}

.arrow-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 5px solid black;
}
